.TcHmi_Controls_Helpers_DirectoryBrowser-path-display {
    position: relative;
    overflow: hidden;
}

.TcHmi_Controls_Helpers_DirectoryBrowser-path-display-scroll-container {
    margin-right: -20px;
    height: calc(100% + 75px);
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    flex-flow: row;
}

ul.TcHmi_Controls_Helpers_DirectoryBrowser-path-display-item-list {
    list-style: none;
    display: inline-block;
    height: 100%;
    flex-shrink: 0;
    margin: 0px;
    margin-left: 3px;
}

    ul.TcHmi_Controls_Helpers_DirectoryBrowser-path-display-item-list li {
        float: left;
    }

        ul.TcHmi_Controls_Helpers_DirectoryBrowser-path-display-item-list li a {
            display: inline-block;
            position: relative;
            margin-right: 23px;
        }

            ul.TcHmi_Controls_Helpers_DirectoryBrowser-path-display-item-list li a:before, ul.TcHmi_Controls_Helpers_DirectoryBrowser-path-display-item-list li a:after {
                content: "";
                position: absolute;
                top: 0;
                width: 0;
                height: 0;
            }

ul.TcHmi_Controls_Helpers_DirectoryBrowser-browsing-display {
    list-style-type: none;
}

    ul.TcHmi_Controls_Helpers_DirectoryBrowser-browsing-display li {
        display: block;
    }